/VueCafeteria.class
/VueRestaurant.class
/VueServiceRestaurationGlobale.class
/FenetreAvecMenu.class
/InterfaceVueService.class
/VueDetailMenu.class
/VueDetailRestauration.class
/VueDoubleService.class
/VueServiceRestauration.class
/VueRestaurant$1.class
/VueCafeteria$1.class
